@model Domain.Entities.ShopInfo


<div class="item"><img src="@Model.Logo" alt="" class="img-responsive"></div>


@*<div class="">
    <h1>@Model.Name</h1>
</div>*@

<div class="">
    @Model.ShortDescription
</div>


<div class="">
    
    @if (Model.Description != null)
    {
        foreach (var text in Model.Description.Split('|'))
        {
            @text;
            <br />        
        }
    }

</div>