@using WebUI.Models
@model ShopInfoModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var preview in Model.EventInfos)
    {
        <div class="col-md-4">
            <h2>@preview.Text</h2>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            <hr />
        </div>
    }
</div>


<div class="row center-block">
    <ul>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { Page = x }))
    </ul>
</div>
