@using WebUI.Models
@model ShopInfoModel

@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    @foreach (var preview in Model.EventInfos)
    {
        <div class="col-md-4">
            <a href="@Url.Action("AboutEvent", "Home", new { itemId = preview.EventInfoId })" class="thumbnail"><img src="@preview.LogoUrl" alt="" class="img-rounded"/></a>
        </div>
    }
</div>


<div class="row center-block">
    <ul>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { Page = x }))
    </ul>
</div>
