@using Domain.Entities
@model IEnumerable<Shop>

@{
    ViewBag.Title = "Каталог магазинов";
}


<div>
    @foreach (CatalogMagazinov catalog in Model)
    {
        <ul>
            <li>@catalog.Name</li>
        </ul>
    }
</div>




